{% extends 'base.html.twig' %}

{% block title %}Dashboard Perso{% endblock %}

{% block body %}

    <!-- CATEGORIES DONNEES -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-users fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">
                            <a href="{{path('app')}}" class="btn btn-primary mt-2">Voir <span class="badge text-bg-info">2 (nb après)</span></a>
                        </h6>
                        <h6 class="mb-0">Liste des budgets alloués</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN CATEGORIES DONNEES -->

    <!-- CATEGORIES DONNEES -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-users fa-3x text-primary"></i>
                    <div class="ms-3">                        
                        <h6 class="mb-2">
                            <a href="{{path('app')}}" class="btn btn-primary mt-2">Voir <span class="badge text-bg-info">2 (nb après)</span></a>
                        </h6> 
                        <h6 class="mb-0">Fiche de paie</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-university fa-3x text-primary"></i>
                    <div class="ms-3">                        
                        <h6 class="mb-2">
                            <a href="{{path('app')}}" class="btn btn-primary mt-2">Voir paiements <span class="badge text-bg-info">1 (nb après)</span></a>
                        </h6> 
                        <h6 class="mb-0">Liste des paiements</h6> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-cube fa-3x text-primary"></i>
                    <div class="ms-3">                        
                        <h6 class="mb-2">
                            <a href="{{path('app')}}" class="btn btn-primary mt-2">Voir les objectifs</a>
                        </h6>
                        <h6 class="mb-0">Liste des objectifs</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-ticket fa-3x text-primary"></i>
                    <div class="ms-3">                        
                        <h6 class="mb-2">  
                            <a href="{{path('app')}}" class="btn btn-primary mt-2">Voir les tips <span class="badge text-bg-info">3 (nb après)</span></a>
                        </h6>
                        <h6 class="mb-0">Liste des tips reçus</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN CATEGORIES DONNEES -->

    <!-- DERNIERS TICKETS AVEC REPONSES -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">               
                <div class="bg-light text-left rounded p-4">
                    <h6 class="mb-4">TITRE</h6>
                    <div class="d-flex align-items-center justify-content-between mb-4">                        
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">                                    
                                    <th scope="col"><h6 class="mb-0">Date</h6></th>
                                    <th scope="col"><h6 class="mb-0">Titre</h6></th>                                       
                                    <th scope="col"><h6 class="mb-0">Contenu</h6></th>                           
                                </tr>
                            </thead>
                            <tbody>
                                {# for ticket in tickets|reverse|slice(0, 10) #}
                                <tr>
                                    <td>{# ticket.createdAt.format('d/m/Y') #}</td>
                                    <td>{# ticket.title #}</td>
                                    <td>{# ticket.content #}</td>
                                </tr>
                                {# endfor #}
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light text-left rounded p-4">
                    <h6 class="mb-4">Réponses récents</h6>
                    <div class="d-flex align-items-center justify-content-between mb-4">                        
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">                                    
                                    <th scope="col"><h6 class="mb-0">Date</h6></th>
                                    <th scope="col"><h6 class="mb-0">Email</h6></th>                                    
                                    <th scope="col"><h6 class="mb-0">Réponse</h6></th>                           
                                </tr>
                            </thead>
                            <tbody>
                                {# for answer in answers|reverse|slice(0, 10) #}
                                <tr>
                                    <td>{# answer.createdAt.format('d/m/Y') #}</td>
                                    <td>{# answer.getUser().getEmail() #}</td>
                                    <td>{# answer.content #}</td>
                                </tr>
                                {# endfor #}
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DERNIERS TICKETS AVEC REPONSES -->

    <!-- DERNIERES INSCRIPTIONS -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Inscriptions récentes</h6>               
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">                                    
                            <th scope="col"><h6 class="mb-0">Date</h6></th>
                            <th scope="col"><h6 class="mb-0">Nom</h6></th>
                            <th scope="col"><h6 class="mb-0">Prénom</h6></th>
                        </tr>
                    </thead>
                    <tbody>
                        {# for user in users|reverse|slice(0, 10) #}
                        <tr>
                            <td>{# user.createdAt.format('d/m/Y') #}</td>
                            <td>{# user.lastname #}</td>
                            <td>{# user.firstname #}</td>
                        </tr>
                        {# endfor #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- FIN DERNIERES INSCRIPTIONS -->

    <!-- DASHBOARD ADMIN FOOTER -->
    <div class="container-fluid py-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">360BudgetBuddy.FR</a> Tout droit réservé.
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DASHBOARD ADMIN FOOTER -->
 
{% endblock %}